@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/Alegreya-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Worksans';
  src: url('./fonts/WorkSans-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

:root {
  --black: #000;
  --red: #FF0000;
  --green: #008000;
}

body {
  font-family: 'Worksans', 'Verdana', sans-serif;
  margin: 0;
}

body:has(dialog[open]) {
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya', cursive;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* nav */
.banner-container {
  background-image: url(./img/pexels-ella-olsson-PhotoRoom.png);
  background-color: red;
  max-width: 1200px;
  height: 300px;
}
ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.navigation ul {
  display: flex;
  justify-content: start;
}

.navigation ul li {
  flex: 0 0 12.5%;
  text-align: right;
}

.navigation ul li:first-child {
  margin-right: auto;
  text-align: left;
}

.navigation button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Worksans';
  font-size: 1em;
}


a:link {
  text-decoration: none;
  color: var(--black
  );
}
.restaurant-list-item {
  padding: 0;
}

.restaurant-list-item h2 {
  margin-bottom: 0;
  font-size: 3em;
}

.restaurant-list-item p {
  margin: 0.125em;

}


.restaurant-list-main div:first-child {
  margin-right: auto;
}

.highlight {
  font-weight: bold;
  background-color: rgb(194, 194, 235);
}


/*filter*/
.filters h2 {
  text-align: center;
  text-transform: uppercase;
}
.filter-button {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 1px solid #000;
}

/*to hide the div element that contains filters' options */
.hidden {
  display: none;
}

.filter-button button, .filter-button select {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  font-family: 'Worksans';
  padding: 0;
}

.filters button label {
  width: 100%;
}

.filters button div {
  width: 25px;
}

.filters button img{
  width: 100%;
  height: 100%;
  margin-left: 5px;
}


/* MENU */
.menu-item {
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 1.25em;
}

.menu-item p {
  margin: 0;
}

.menu-item .menu-item-name {
  flex: 9 1 0;
  min-width: 360px;
}

.menu-item .menu-item-price {
  flex: 3 1 0;
  text-align: end;
}





/* DIALOG */

dialog {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 0 2em 2em;
}

dialog > .restaurant-info-container{
  position: relative;
}


dialog .close {
  font-size: 1.5em;
  position:absolute;
  top: 1em;
  right: 0;
  transform: translate(-50%);
  cursor: pointer;
}


/* restaurant info */
dialog .restaurant-info {
  margin-bottom: 2.5em;
}

dialog .restaurant-info p {
 margin-top: 0;
 }

dialog .restaurant-info p span {
  text-transform: uppercase;
  font-weight: 600;
}

dialog h3 {
  text-transform: uppercase;
  margin: 0;
  padding: 1em 0;
  font-size: 1.5em;
}

.menu-daily {
  margin-top: 1.25em;
}


/* LOGIN */

.alert {
  color: red;
  display: block;
  margin-bottom: 8px;
}

form {
  margin: 0 auto;
  width: 400px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form label.required:after {
  content: " *";
  color: var(--red);
}

.form input:invalid {
  border: 1px solid var(--red);
}

.form input:valid {
  border-color: var(--green);

}

.form input:focus {
  background-color: rgb(231, 241, 227);
}

