@font-face {
  font-family: 'Pacifico';
  src: url('./Pacifico-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Alegreya';
  src: url('./Alegreya-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Worksans';
  src: url('./WorkSans-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

:root {
  --black: #000;

}

body {
  font-family: 'Worksans', 'Verdana', sans-serif;
  margin: 0;
}

body:has(dialog[open]) {
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya', cursive;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* nav */
.banner-container {
  background-image: url(./img/pexels-ella-olsson-PhotoRoom.png);
  background-color: red;
  max-width: 1200px;
  height: 300px;
}
ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.navigation ul {
  display: flex;
  justify-content: start;
}

.navigation ul li {
  flex: 0 0 12.5%;
  text-align: right;
}

.navigation ul li:first-child {
  margin-right: auto;
  text-align: left;
}



a:link {
  text-decoration: none;
  color: var(--black
  );
}
.restaurant-list-item {
  padding: 0;
}

.restaurant-list-item h2 {
  margin-bottom: 0;
  font-size: 3em;
}

.restaurant-list-item p {
  margin: 0.125em;

}


.restaurant-list-main div:first-child {
  margin-right: auto;
}

/*filter*/
.buttons {
  display: flex;
  justify-content: space-between;
}

.filters button {
  border: none;
  cursor: pointer;
}

form {
  margin: 0 auto;
  max-width: 400px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#avatar-target {
  max-width: 100%;
  height: auto;
}
