@font-face {
  font-family: 'Pacifico';
  src: url('./Pacifico-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

:root {
  --black: #000;

}

body {
  font-family: 'Verdana', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico', cursive;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* nav */
ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.navigation ul {
  display: flex;
  justify-content: start;
}

.navigation ul li {
  flex: 0 0 12.5%;
  text-align: right;
}

.navigation ul li:first-child {
  margin-right: auto;
  text-align: left;
}



a:link {
  text-decoration: none;
  color: var(--black
  );
}


form {
  margin: 0 auto;
  max-width: 400px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#avatar-target {
  max-width: 100%;
  height: auto;
}
